*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background:black;
  color:#fff;
}
button{
  padding: 10px;
  font-size: 20px;
  background: transparent;
  color: green;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid green;
  cursor: pointer;
}

select{
  font-size: 18px;
  cursor: pointer;
  color: green;
  background-color: black;
}
select option{
  cursor: pointer;
}
button:hover{
  transform: translateY(5px);
}
h4{
  padding: 10px;
}
textarea{
  background-color: #000 !important;
  color: #d35400;
}


#output{
  color: green;
}
#input{
  color: red;
}
.badge{
  display: flex;
  justify-content: space-between;
}

.language {
    display: inline;
  }
  .heading {
    font-size: 20px;
  }
  #source {
    width: 100% !important;
    background: #cccccc52;
    height: 50vh;
    font-size: 15px;
    resize: vertical;
  }
  #input {
    background: #cccccc52;
    width: 45.6%;
    height: 17vh;
    resize: vertical;
    font-size: 17px;
  }
  #output {
    background: #cccccc52;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 7.6%;
    font-size: 18px;
    right: 0;
    resize: none;
  }
  .language {
    width: 150px;
  }